.App {
  text-align: center;
  font-family: teimer-web;
}
.Home {
  height: 100vh;
  background:
   linear-gradient(
    to right,
    #CD1F1D 0%,
    #CD1F1D 50%,
    #D3B5FF 50%, 
    #D3B5FF 100%);
}


ul {
  list-style: none;

}
.navBar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  margin-top: -.5%;
}

.navBar li {
display: inline;
padding: 3px;
padding-right: 3.4px;
}

.github {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}
.linkedin {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}
.medium {
  height: 24px;
  width: 24px;
  margin-right: 3px;
}

.first {
  position: fixed;
  margin-bottom: 3px;
  text-align: right;
  padding-right: 15px;
  font-size: 5.4vw;
  margin-top: 17%;
  margin-left: 27.5%;
  color: white;
}

.last {
  text-align: left;
  padding-left: 15px;
  margin-top: 22%;
  margin-left: 50%;
  font-size: 5.4vw;
  position: fixed;
}
.homeColor {
  position: fixed;
  margin-top: 22.2%;
  margin-left: -35.4%;
  height: 6px;
  width: 80%;
  background: linear-gradient(
    to left,
    #CD1F1D 0%,
    #CD1F1D 50%,
    #D3B5FF 50%,
    #D3B5FF 100%);
}
.sideButtons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 99%;
  margin-top: 25%;
  justify-content: space-between;
  /* align-items: center; */
}
.EP {
  align-self: flex-start;
  /* position: absolute;
  margin-top: 25%;
  margin-left: -43.7%; */
  font-size: 6.5vw;
  color: #D3B5FF;
  text-decoration: none;
  transform: rotate(180deg);
}
.EP:hover {
  transform: scale(1.1);
  transform: rotate(180deg);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: white;
}
.SP {
  align-self: flex-end;
  font-size: 6.5vw;
  /* position: absolute;
  margin-top: 25%;
  margin-left: 47.2%; */
  color: black;
  text-decoration: none;
}
.SP:hover {
  transform: scale(1.1);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: black;
}

.EAdescription {
  position: absolute;
  margin-top: 28%;
  font-size: 1.7vw;
  font-weight: 600;
  color: white;
  width: 15%;
  text-align: right;
  margin-left: 7.6%;
}
.SWdescription {
  position: absolute;
  margin-top: 28%;
  font-size: 1.7vw;
  font-weight: 600;
  color: black;
  width: 15%;
  text-align: left;
  margin-left: 77.3%;
}
.AB {
  position: absolute;
  margin-top: 35%;
  font-size: 2.8vw;
  background: linear-gradient(
    to right,
    white 0%,
    white 57%,
    black 50%, 
    black 100%);
    background-clip: text;
    color: transparent;
  text-decoration: none;
  margin-left: .6%;
}
.AB:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to left,
    white 0%,
    white 43%,
    black 43%, 
    black 100%);
    background-clip: text;
    color: transparent;
  text-decoration: none;
}
/* embroidery page */

.emCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  /* background-color: #d3b5ff6f; */
}

.emCard {
display: grid;
width: 590px;
margin: 10px;
}
.info {
  padding: 9px;
}


.emCard img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
}
.desc {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 5px;
  margin: auto;
  display: none;
  position: absolute;
  width: 590px;
  padding-left: 10px;
  padding-top: 143.4px;
  background: #d3b5ff99;
  padding-bottom: 10.1%;
  height: 7%
}
.emCard:hover .desc {
  display: block;
}

.emCard h2 {
  /* position: absolute; */
  width: 590px;
  margin-left: 0px;
  font-size: 35px;
  margin-bottom: 9px;
  padding-bottom: 3px;
  margin-top: -8.8%;
  background-color: #d3b5ff99;
  text-align: left;
  padding-left: 10px;
}

.emTitle {
 text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
  border-bottom: #D3B5FF 6px solid;
}

.emHome {
  z-index: 1;
  margin-top: 20px;
  position: fixed;
  margin-left: 43%;
  text-decoration: none;
  font-size: 60px;
  color: #D3B5FF;
}
.emHome:hover {
  color: #CD1F1D;
}
.emHome1 {
  font-size: 20px;
  margin-top: -7px;
}
.moreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.moreButton {
  width: 100%;
  height: 50%;
  border: none;
  font-size: x-large;
  margin-left: 0%;
  background-color: transparent;
  margin-top: 2%;
  padding: 6px;
  margin-top: 3px;
  /* border-bottom:rgba(95, 158, 160, 0.244) 2px solid; */
}
.moreButton:hover {
  transform: scale(1.1);
}
.moreImage {
  padding: 7px;
  width: 45%;
  height: 100%;
}

.lessButton {
  width: 25%;
  height: 50%;
  border: none;
  background-color: transparent;
  font-size: xx-large;
  margin-left: 71%;
}
.lessButton:hover {
  transform: scale(1.1);
}
/* software projects page */

.SoftwareProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colorskein {
  width: 69%;
  height: 790px;
  background-color: #d3b5ff6a;
  margin: 10px;
  box-shadow: #d3b5ff6a 3px 3px 20px 0px;
  border-radius: 0px 0px 8px 8px;
}
.cropPlease {
  /* width: 100%; */
  height: 554px;
  overflow: hidden;
  margin: auto;
}

.colorImage {
  width: 115%;
  height: 100%;
  object-position: 16% 9%;
  object-fit: cover;
  margin-left: -5.7%;
}
.colorImage:hover {
  opacity: 0.7;
}

/* .colorImage:hover .colorskeinDesc {
  display: block
} */

.colorskein h2 {
margin-bottom: 6px;
font-size: 31px;
}
.colorskein p {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}
svg.github:hover {
  transform: scale(1.1);
}
.cTech {
  margin-top: 0;
  word-spacing: 1px;
}
.cTech li {
  display: inline;
  margin-right: 15px;
  font-size: 19px;
  font-weight: 500;
  color: #CD1F1D; 
}
.softCard {
display: grid;
margin: 10px;
height: 520px;
width: 34%;
border: 1px solid #D3B5FF;
box-shadow: #d3b5ffd7 3px 3px 20px 0px;
border-radius: 0px 0px 8px 8px;
}
 .softCard h2 {
  background-color: rgba(95, 158, 160, 0.244);
 }
.softCard img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
}
.softCard p {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

.softH1 {
  border-bottom: #CD1F1D 6px solid;
  font-size: 35px;
  margin-bottom: 9px;
  padding-bottom: 0px;
  height: 15%;
  text-align: left;
  margin-top: 10px;
}
.git {
  padding-bottom: 9px;
}
.git:hover {
  transform: scale(1.2);
}
.swHome {
  position: fixed;
  margin-top: -114.7%;
  margin-left: -46.2%;
  text-decoration: none;
  font-size: 80px;
  color: #CD1F1D;
  transform: rotate(180deg);
}
.swHome1 {
  font-size: 20px;
  margin-top: -100px;
  transform: rotate(180deg);
}

.footer {
  background-color: #d3b5ff3c;
  margin-top: 4px;
  padding: 4px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nameEmail {
  text-align: left;
  margin-bottom: 2px;
  width: 20%;
}
.nameEmail p {
  font-size: 16px;
  font-weight: 500;
  margin-left: 6px;
  width: fit-content;
}
.socials {
  text-align: right;
  width: 20%;
  margin-right: 5px;
  /* float: right;
  margin-right: 6px; */
}
.socials a {
  margin-right: 15px;
  margin-top: -5px;
  margin-left: 4%;
  font-size: 18px;
  font-weight: 500;
  width: 50%;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
}
.aboutMe {
  max-width: 50%;
}
.myInfo {
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7%;
  max-width: 50%
}
.about h4::first-line {
 text-decoration: overline #D3B5FF;
}
#word {
  position: absolute;
  margin-left: 6.9%;
  margin-top: 2%;
  letter-spacing: 1px;
  font-size: 5.9vw;
  z-index: 1;
  background: linear-gradient(
    to right,
    black 0%,
    black 26%,
    #CD1F1D 26%, 
    #CD1F1D 100%);
    background-clip: text;
    color: transparent;

}

.me {
  position: relative;
  margin-top: 1%;
  margin-left: 1%;
  z-index: -1;
  max-width: 51%;
  max-height: 51%;
  object-fit: cover;
  object-position: 30% 15%;

}

.about h4 {
  font-size: 2vw;
  text-decoration: underline #CD1F1D;
}

.about p {
  font-size: 1.3vw;
}

.resume {
  display: inline-block;

  font-size: 1.6vw;
  color:black;
  background-color: white;

  padding: 7px;
  border: black 2px solid;
  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;

}

.resume:hover  {

  box-shadow: inset 400px 0 0 0 black;
  color: white;
}
.embport {

  font-size: 1.4vw;
  display: inline-block;
  text-decoration: none;
  text-decoration: none;
  border: #D3B5FF 2px solid;
  box-shadow: inset 0 0 0 0 #D3B5FF;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: black;
  padding: 8px;
}

.embport:hover  {
  box-shadow: inset 400px 0 0 0 #D3B5FF;
  color: white;
}

.softport {
  /* position: absolute;
  margin-left: 29.2%;
  margin-top: -5%; */
  font-size: 1.4vw;
  display: inline-block;
  text-decoration: none;
  border: #CD1F1D 2px solid;
  box-shadow: inset 0 0 0 0 #CD1F1D;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: black;
  padding: 8px;
}

.softport:hover  {
  box-shadow: inset 400px 0 0 0 #CD1F1D;
  color: white;
}
.skillZone {
  margin-top: 8%;
  background: rgb(181,188,255);
background: radial-gradient(circle, rgba(181,188,255,1) 0%, rgba(211,181,255,1) 100%);
  max-height: 300px;
  display: flexbox;
  flex-wrap: wrap;
  min-width: 100%;
  padding-left: 15%;
  padding-right: 9%;
}
.skillList {
  display: flex;
  font-size: 3vw;
  margin: 6px;
  padding: 6px;
  color: radial-gradient(circle, rgba(181,188,255,1) 0%, rgba(211,181,255,1) 100%)
}

.skills li {
  border-radius: 50%;
  background-color: white;
  list-style-type: none;
  display: inline-block;
  height: 4.5%;
  width: 4.5%;
  padding: 25px;
  margin: 5px;
}


