.App {
  text-align: center;
}
.Home {
  height: 100vh;
  background:
   linear-gradient(
    to right,
    #CD1F1D 0%,
    #CD1F1D 50%,
    #D3B5FF 50%, 
    #D3B5FF 100%);
}

ul {
  list-style: none;
}
.navBar{
  float: right;
}

.navBar li {
display: inline;
padding: 3px;
}

.firstName {
  position: fixed;
  font-size: xx-large;
  margin-top: 13%;
  margin-left: -13.8%;
  color: white;
  text-decoration: underline #D3B5FF;
  text-underline-offset: 15px;

}
.lastName {
  position: fixed;
  font-size: xx-large;
  margin-top: 18.6%;
  margin-left: 5%;
  text-decoration: overline #CD1F1D;
  text-decoration-thickness: 11%;
}
.me {
  width: 40%;
  height: 40%;
  float: left;
}

.EP {
  position: fixed;
  margin-top: 30%;
  font-size: 20px;
  color: white;
}

.leftLine{
  background-color: #D3B5FF;
  border: 1px solid #D3B5FF;
  position: fixed;
  margin-top: 22.32%;
  margin-left: -38.5%;
  height: 4.2px;
  width: 27%;
}
.rightLine{
  background-color: #CD1F1D;
  border: 1.5px solid #CD1F1D;
  position: fixed;
  margin-top: 22.31%;
  margin-left: 20.5%;
  height: 4.3px;
  width: 27%;
}
