.App {
  text-align: center;
  font-family: "Ivar Text", sans-serif
}
.Home {
  height: 100vh;
  background:
   linear-gradient(
    to right,
    #CD1F1D 0%,
    #CD1F1D 50%,
    #D3B5FF 50%, 
    #D3B5FF 100%);
}


ul {
  list-style: none;
}
.navBar{
  float: right;
  margin-top: -.5%;
}

.navBar li {
display: inline;
padding: 3px;
padding-right: 3.4px;
}

.github {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}
.linkedin {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}
.medium {
  height: 24px;
  width: 24px;
  margin-right: 3px;
}
.firstName {
  position: absolute;
  font-size: xx-large;
  margin-top: 13%;
  margin-left: -38%;
  color: white;
  width: 42.65%;
  border-bottom: 6.5px solid #D3B5FF;
}
.first {
  margin-bottom: 3px;
  text-align: right;
  padding-right: 15px;
}
.lastName {
  position: absolute;
  font-size: xx-large;
  margin-top: 21.1%;
  margin-left: 4.6%;
  border-top: 6.5px solid #CD1F1D;
  width: 42.7%;
}
.last {
  margin-top: 3px;
  text-align: left;
  padding-left: 15px;
}


.EP {
  position: absolute;
  margin-top: 17.4%;
  margin-left: -43.7%;
  font-size: 20px;
  color: #D3B5FF;
  text-decoration: none;
  transform: rotate(180deg);
  font-size: 100px;
}
.SP {
  position: absolute;
  margin-top: 17.3%;
  margin-left: 47.2%;
  font-size: 20px;
  color: #CD1F1D;
  text-decoration: none;
  font-size: 100px;
}

.EAdescription {
  position: absolute;
  margin-top: 22%;
  font-size: x-large;
  font-weight: 600;
  color: white;
  width: 15%;
  text-align: right;
  margin-left: 6.5%;
}
.SWdescription {
  position: absolute;
  margin-top: 19%;
  font-size: x-large;
  font-weight: 600;
  color: black;
  width: 15%;
  text-align: left;
  margin-left: 78%;
}
.AB {
  position: absolute;
  margin-top: 35%;
  font-size: 40px;
  background: linear-gradient(
    to right,
    white 0%,
    white 57%,
    black 50%, 
    black 100%);
    background-clip: text;
    color: transparent;
  text-decoration: none;
  margin-left: .6%;
}
.AB:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to left,
    white 0%,
    white 43%,
    black 43%, 
    black 100%);
    background-clip: text;
    color: transparent;
  text-decoration: none;
}
/* embroidery page */

.emCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* background-color: #d3b5ff6f; */
}

.emCard {
display: grid;
width: 500px;
margin: 10px;
}
.info {
  padding: 9px;
}


.emCard img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
}
.desc {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 5px;
  margin: auto;
  display: none;
  position: absolute;
  width: 490px;
  padding-left: 10px;
  padding-top: 143.5px;
  background: #d3b5ff99;
  padding-bottom: 10%;
  height: 7%
}
.emCard:hover .desc {
  display: block;
}

.emCard h2 {
  /* position: absolute; */
  width: 490px;
  margin-left: 0px;
  font-size: 35px;
  margin-bottom: 9px;
  padding-bottom: 3px;
  margin-top: -8.8%;
  background-color: #d3b5ff99;
  text-align: left;
  padding-left: 10px;
}

.emTitle {
 text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: xx-large;
  font-weight: 600;
  border-bottom: #D3B5FF 6px solid;
}

.emHome {
  z-index: 1;
  margin-top: 20px;
  position: fixed;
  margin-left: 43%;
  text-decoration: none;
  font-size: 60px;
  color: #D3B5FF;
}
.emHome:hover {
  color: #CD1F1D;
}
.emHome1 {
  font-size: 20px;
  margin-top: -7px;
}
.moreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.moreButton {
  width: 100%;
  height: 50%;
  border: none;
  font-size: x-large;
  margin-left: 0%;
  background-color: transparent;
  margin-top: 2%;
  padding: 6px;
  margin-top: 3px;
  /* border-bottom:rgba(95, 158, 160, 0.244) 2px solid; */
}
.moreButton:hover {
  transform: scale(1.1);
}
.moreImage {
  padding: 7px;
  width: 45%;
  height: 100%;
}

.lessButton {
  width: 25%;
  height: 50%;
  border: none;
  background-color: transparent;
  font-size: xx-large;
  margin-left: 71%;
}
.lessButton:hover {
  transform: scale(1.1);
}
/* software projects page */

.SoftwareProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colorskein {
  width: 66%;
  height: 740px;
  background-color: #d3b5ff6a;
  margin: 10px;
  box-shadow: #d3b5ff6a 3px 3px 20px 0px;
  border-radius: 0px 0px 8px 8px;
}
.cropPlease {
  width: 988px;
  height: 500px;
  overflow: hidden;
  margin: auto;
}
.colorImage {
  width: 115%;
  height: 100%;
  object-position: 15% 10%;
  object-fit: cover;
  margin-left: -5.7%;
}
.colorImage:hover {
  opacity: 0.7;
}

.colorskein h2 {
margin-bottom: 6px;
}
.colorskein p {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

.cTech {
  margin-top: 0;
  word-spacing: 1px;
}
.cTech li {
  display: inline;
  margin-right: 15px;
  font-size: 19px;
  font-weight: 500;
  color: #CD1F1D; 
}
.softCard {
display: grid;
margin: 10px;
height: 520px;
width: 32%;
border: 1px solid #D3B5FF;
box-shadow: #d3b5ffd7 3px 3px 20px 0px;
border-radius: 0px 0px 8px 8px;
}
 .softCard h2 {
  background-color: rgba(95, 158, 160, 0.244);
 }
.softCard img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0px;
}
.softCard p {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

.softH1 {
  border-bottom: #CD1F1D 6px solid;
  font-size: 35px;
  margin-bottom: 9px;
  padding-bottom: 0px;
  height: 15%;
  text-align: left;
  margin-top: 10px;
}
.git {
  padding-bottom: 9px;
}
.git:hover {
  transform: scale(1.2);
}
.swHome {
  position: fixed;
  margin-top: -114.7%;
  margin-left: -46.2%;
  text-decoration: none;
  font-size: 80px;
  color: #CD1F1D;
  transform: rotate(180deg);
}
.swHome1 {
  font-size: 20px;
  margin-top: -100px;
  transform: rotate(180deg);
}

.footer {
  background-color: #d3b5ff3c;
  margin-top: 4px;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nameEmail {
  text-align: left;
  margin-bottom: 2px;
  width: 20%;
}
.nameEmail p {
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
  width: fit-content;
}
.socials {
  text-align: right;
  width: 20%;
  margin-right: 5px;
  /* float: right;
  margin-right: 6px; */
}
.socials a {
  margin-right: 9px;
  font-size: 14px;
  font-weight: 500;
  width: 50%;
}

.about h1 {
  letter-spacing: 1px;
  position: absolute;
  font-size: 100px;
  text-align: left;
  margin-left: 2.67%;
  margin-top: 3.6%;
  background: linear-gradient(
    to right,
    black 0%,
    black 45%,
    #D3B5FF 45%, 
    #D3B5FF 100%);
    background-clip: text;
    color: transparent;
    transform: skew(-9deg);
}
.about h2 {
  letter-spacing: -1px;
  position: absolute;
  font-size: 90px;
  text-align: left;
  margin-left: 29.2%;
  margin-top: 17%;
  background: linear-gradient(
    to right,
    #CD1F1D 0%,
    #CD1F1D 57%,
    black 57%, 
    black 100%);
    background-clip: text;
    color: transparent;
    transform: skew(-9deg);
  /* border-bottom: #D3B5FF 6px solid; */
}
.me {
  position: relative;
  margin-top: 1%;
  margin-left: -48%;
  z-index: -1;
  width: 25%;
  height: 55%;
  object-fit: cover;
  object-position: 30% 15%;
  /* border-radius: 50%; */
}
.about h4 {
  position: absolute;
  margin-left: 38%;
  margin-top: -23%;
  font-size: 20px;
}

.about p {
  width: 40%;
  margin-left: 50%;
  margin-top: -20%;
  font-weight: 530;
}


.links {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: #D3B5FF 6px solid;
  margin-bottom: 2px;
}
.links h5 {
  margin-right: 13.2%;
  font-size: 20px;
  font-weight: 500;
}

.resume {
  display: inline-block;
  margin-left: 38%;
  font-size: x-large;
  color:black;
  background-color: white;
  margin-top: 9px;
  padding: 5px;
  border: #D3B5FF 2px solid;
  box-shadow: inset 0 0 0 0 #D3B5FF;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.resume:hover  {
  /* box-shadow:  2px 3px 1px 0px black; */
  box-shadow: inset 400px 0 0 0 #D3B5FF;
  color: white;
}
.embport {
  display: inline-block;
  text-decoration: none;
  border: #D3B5FF 2px solid;
  box-shadow: inset 0 0 0 0 #D3B5FF;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: black;
  padding: 3px;
}

.embport:hover  {
  box-shadow: inset 400px 0 0 0 #D3B5FF;
  color: white;
}

.softport {
  display: inline-block;
  text-decoration: none;
  border: #CD1F1D 2px solid;
  box-shadow: inset 0 0 0 0 #CD1F1D;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: black;
  padding: 3px;
}

.softport:hover  {
  box-shadow: inset 400px 0 0 0 #CD1F1D;
  color: white;
}
.skillZone {
  border-top: #CD1F1D 6px solid;
  /* background-color: #b5bcffae; */
  background: rgb(181,188,255);
background: radial-gradient(circle, rgba(181,188,255,1) 0%, rgba(211,181,255,1) 100%);
  height: 300px;
}
.skillList {
  font-size: 50px;
  margin: 6px;
}
.skills li {
  border-radius: 50%;
  background-color: white;
  list-style-type: none;
  display: inline-block;
  height: 55px;
  width: 55px;
  padding: 25px;
  margin: 5px;
}
/* .current {
display: flex;
flex-wrap: wrap;
width: 100%;
height: 300px;
border-top: #CD1F1D 6px solid;
} */
/* .currentemb {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
} */
/* .currentsoft {
  margin-top: 0px;
  margin-left: 50%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
} */
/* .currentemb h6 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-left: 2.67%;
}
.currentemb p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 2.67%;
  margin-top: 0px;
}
.currentemb img {
  width: 40%;
  height: 40%;
  object-fit: contain;
  margin-left: -75%;
} */
